{% extends 'base.html.twig' %}

{% block title %}Maintenance du catalogue de logiciels{% endblock %}

{% block body %}
<div>
    <h1>Maintenance du catalogue de logiciels</h1>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2">            
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header text-center">
                       Maintenance des logiciels
                    </div>
                    <div class="card-body text-center">
                        <a href="{{ path('software_index') }}"> <img class="w128max" src="images/logiciel1a.png"></a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header text-center">
                       Maintenance des catégories
                    </div>
                    <div class="card-body text-center">
                        <a href="{{ path('category_index') }}"> <img class="w128max" src="images/categories1a.png"></a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}
