{% extends 'base.html.twig' %}

{% block title %}Edit Software{% endblock %}

{% block body %}
    <h1>Edit Software</h1>

    {{ include('software/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('software_index') }}">back to list</a>

    {{ include('software/_delete_form.html.twig') }}
{% endblock %}
