{% extends 'base.html.twig' %}

{% block title %}Nouveau logiciel{% endblock %}

{% block body %}
    <h1>Ajoutez un logiciel</h1>

    {{ include('software/_form.html.twig') }}

    <a class="btn btn-secondary btn-sm" href="{{ path('software_index') }}" type=button>Retour à la liste des Logiciels</a>
{% endblock %}
