{% extends 'base.html.twig' %}

{% block title %}New Software{% endblock %}

{% block body %}
    <h1>Create new Software</h1>

    {{ include('software/_form.html.twig') }}

    <a href="{{ path('software_index') }}">back to list</a>
{% endblock %}
